<!doctype html>
<html>

<head>
  <title>Sign Up</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/spectre.css/0.1.25/spectre.min.css" rel="stylesheet" crossorigin="anonymous">
  <script type="text/javascript" src="https://cf-4053.kxcdn.com/conversational-form/0.9.4/conversational-form.min.js" crossorigin></script>
</head>

<body>
  <header style="background: #d03428">
  <h1 style="font-size: 53px;
    text-align:center;
    margin: 0;
    padding: 0;
    color: #fcea6a;
    font-weight: normal;">Samuel L. Ipsum</h1></header>
  <div class="container">
    <div class="columns">
      <div class="column col-4" style="text-align:center;">
        <div class="empty-icon">
          <i class="icon icon-people"></i>
        </div>
        <img class="img-responsive" src="http://slipsum.com/img/sam.png" />
        <h4 class="empty-title">"My money's in that office, right? If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there. Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is. She gonna tell me too. Hey, look at me when I'm talking to you, motherfucker. You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot. You understand?"
</h4>
      </div>
      <div class="column col-4" style="text-align:center">
        <h4>Sign Up for our newsletter</h4>
        <div cf-context>
          <form action="/signup" method="POST" class="centered mt-10 ml-10 mr-10" cf-form>
            <div class="form-group">
              <label class="form-label" for="firstName">First Name</label>
              <input class="form-input" type="text" name="firstName" id="firstName" />
            </div>
            <div class="form-group">
              <label class="form-label" for="lastName">Last Name</label>
              <input class="form-input" type="text" name="lastName" id="lastName" />
            </div>
            <div class="form-group">
              <label class="form-label" for="email">Email</label>
              <input class="form-input" type="email" name="email" id="email" required="true" />
            </div>
            <div class="form-group">
              <label class="form-label" for="message">Message</label>
              <input class="form-input" type="text" name="message" id="message" />
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
